@model IEnumerable<EChallenge.Models.Gift>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img src="item.ImagePath" width="50px" height="50px" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GiftId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GiftId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GiftId })
        </td>
    </tr>
}

</table>
