@model EChallenge.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>


<div class="col-lg-8">
    @using (Html.BeginForm("Register", "Account", System.Web.Mvc.FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DOB, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", placeholder = "mm/dd/yyyy" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PostCode, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
        
    }
</div>
<div class="col-lg-4">
    <h3>Upload Image</h3>
    <h3 style="color: green">@ViewBag.Message</h3>
    @using (Html.BeginForm("Upload", "Account", FormMethod.Post
            , new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary();
        <img src="@ViewBag.ImageURL" width="200px" height="200px" />
        <input type="file" id="fileToUpload" name="file" />
        <span class="field-validation-error" id="spanfile"></span>

        <input type="submit" id="btnSubmit" value="Upload" />
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
